.paymentmanager{width: 1000px;height: auto;margin: 50px auto;min-height: 500px;}
.paymentmanager>h6{padding-bottom: 20px;line-height: 30px; text-align: center;font-size: 24px;letter-spacing: -1px;color: #333333;}
.question>h6{font-size: 16px;line-height: 20px;color: #333333;}
.question>p{padding: 10px 0;font-size: 14px;line-height: 20px;color: #333333;}
.question>p>span{padding: 0 20px;}
.question>p>i{color: #3c78ff;padding: 0 5px;}
.paymentmanager>p{padding: 10px 0;font-size: 14px;line-height: 20px;color: #333333;}
.question>.moren>span{display: block;padding: 0;}
.question>.moren>span>span{padding: 0 20px;}
.question>.morenbottom>span>span{padding: 0;font-weight: 700;}
.back{padding-bottom: 10px;}
.back a img{cursor: pointer; width: 16px;height: 16px;}